body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  color: black;
  border-left: 1px solid black;
  padding: 5px;
  background: transparent;
  border: none;
  resize: none;
  width: 100%;
}

.hero {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.saveBtn {
  background-color: grey;
  color: white;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.time{
  text-align: center;
  border-radius: 15px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.row {
   height: 80px;
  border-top: 1px solid white;
  white-space: pre-wrap;
 
}

.hour {
  background-color: white;
  color: black;
  border-top: 1px dashed black;
}

#green {
  background-color: lightgreen;
}
#red {
  background-color: red;
}
#grey {
  background-color: lightgray;
}